@use "variables";

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  background-color: variables.$color-secundario;
  text-align: center;
  transition: background-color 0.3s;
}
.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
  button {
    margin-top: 32px;
  }
  img {
    width: 200px;
    height: 200px;
    border-color: variables.$color-texto;
    border-style: solid;
    border-radius: 10%;
    transition: all 0.3s ease-out;
    &:hover {
      transform: scale(1.3);
    }
  }
}
@media (max-width: 768px) {
  .boxes {
    grid-template-columns: 1fr 1fr;
  }
  .box img {
    width: 150px;
    height: 150px;
  }
}
@media (orientation: landscape) {
  .box img {
    width: 140px;
    height: 140px;
  }
}
