// Color
$color-principal: #dc5f00;
$color-secundario: #686d76;
$color-fondo: #eeeeee;
$color-bt-compra: #78c841;
$color-texto: #373a40;

// Fuentes
$fuente-base: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$fuente-textos: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$fuente-footer: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
