* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #eeeeee;
}

body,
html {
  height: 100%;
}

header {
  text-align: center;
  background-color: #fff;
}
header h1 {
  background-color: #fff;
  color: #dc5f00;
  display: inline-block;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 70px;
}
header img {
  display: inline-block;
}

h2 {
  color: #eeeeee;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  background-color: #dc5f00;
  margin-bottom: 0;
}

p {
  color: #373a40;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}

footer {
  color: black;
  background-color: #dc5f00;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
footer p {
  margin-bottom: 0;
}

.formulario {
  padding-left: 20px;
  background-color: #686d76;
}

.imagenes {
  text-align: center;
  background-color: #eeeeee;
}
.imagenes h2 {
  background: #eeeeee;
  color: #373a40;
  padding-top: 20px;
}

.imagenes-flex {
  width: 100%;
  margin-bottom: 20px;
  max-width: 1000px;
}

.textos {
  background-color: #eeeeee;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

section.first {
  background-color: #eeeeee;
}

#consulta {
  width: 400px;
  height: 100px;
}

#textomapa {
  font-size: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  #consulta {
    width: 250px;
  }
  #textomapa iframe {
    width: 300px;
    height: 228px;
  }
}
.boton-comprar {
  padding: 8px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease-in;
}
.boton-comprar:hover {
  background-color: #78c841;
  padding: 16px 40px;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  background-color: #686d76;
  text-align: center;
  transition: background-color 0.3s;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}
.box button {
  margin-top: 32px;
}
.box img {
  width: 200px;
  height: 200px;
  border-color: #373a40;
  border-style: solid;
  border-radius: 10%;
  transition: all 0.3s ease-out;
}
.box img:hover {
  transform: scale(1.3);
}

@media (max-width: 768px) {
  .boxes {
    grid-template-columns: 1fr 1fr;
  }
  .box img {
    width: 150px;
    height: 150px;
  }
}
@media (orientation: landscape) {
  .box img {
    width: 140px;
    height: 140px;
  }
}
nav.bg-light {
  background-color: #dc5f00 !important;
}

nav.navbar {
  padding-left: 30px;
}

nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgba(255, 255, 255, 0.578);
}

.navbar-brand {
  display: none;
}

.dropdown-menu {
  background-color: #dc5f00;
  font-family: var(--bs-body-font-family);
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
