* {
  /* formatear los valores por defecto */
  /* https://colorhunt.co/palette/eeeeee686d76373a40dc5f00 colores nuevos */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #eee;
}
body,
html {
  height: 100%;
}

h1 {
  color: #eeeeee;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  background-color: #dc5f00;
  padding: 70px;
}
header h1 {
  margin-bottom: 0;
}
h2 {
  color: #eeeeee;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #dc5f00;
  text-align: center;
  margin-bottom: 0px;
}
p {
  color: #373a40;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}

ul {
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer {
  color: black;
  background-color: #dc5f00;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
footer p {
  margin-bottom: 0;
}
/* .menu a {
  display: inline-block;
  background-color: red;
  padding: 0 10px;
  margin: 0 20px;
  text-decoration: none;
  font-size: 20px;
  color: darkred;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */
.menu {
  padding: 20px;
  text-align: center;
  background-color: #686d76;
}

.formulario {
  padding-left: 20px;
  background-color: #686d76;
}
.imagenes {
  text-align: center;
  background-color: #eeeeee;
}
.imagenes h2 {
  background: #eee;
  color: #373a40;
  padding-top: 20px;
}

.textos {
  background-color: #eeeeee;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* uso este container en productos con flexbox*/

.mainGrid {
  width: 100%;
  background: #686d76;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  background-color: #686d76;
  text-align: center;
  transition: background-color 0.3s;
}

.imagenes-flex {
  width: 100%;
  margin-bottom: 20px;
  max-width: 1000px;
}
#consulta {
  width: 400px;
  height: 100px;
}
#textomapa {
  font-size: 20px;
  text-align: center;
}

nav.bg-light {
  background-color: #dc5f00 !important;
}
nav.navbar {
  padding-left: 30px;
}
nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgba(255, 255, 255, 0.578);
}
.navbar-brand {
  display: none;
}
header h1 {
  background: #fff;
  color: #dc5f00;
}

header img,
header h1 {
  display: inline-block;
}
header {
  text-align: center;
  background-color: #fff;
}

section.first {
  background-color: #eee;
}
/* .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}
.box button {
  margin-top: 32px;
}
.box img {
  width: 200px;
  height: 200px;
  border-color: #373a40;
  border-style: solid;
  border-radius: 10%;
  transition: all 0.3s ease-out;
}
.box img:hover {
  transform: scale(1.3);
}
.boton-comprar {
  padding: 8px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease-in;
}
.boton-comprar:hover {
  background-color: #78c841;
  padding: 16px 40px;
}
.dropdown-menu {
  background-color: #dc5f00;
  font-family: var(--bs-body-font-family);
  text-align: center;
}
/* aca empieza media query movile 
+
+
+
+
+
*/

@media (max-width: 768px) {
  .boxes {
    grid-template-columns: 1fr 1fr;
  }
  .box img {
    width: 150px;
    height: 150px;
  }
  #consulta {
    width: 250px;
  }
  #textomapa iframe {
    width: 300px;
    height: 228px;
  }
}
@media (orientation: landscape) {
  .box img {
    width: 140px;
    height: 140px;
  }
}
/* 0 --> 768 mobile git
768 --> 1024 Tablet 
1024 en adelante es desktop */
